.banner-container {
    display: flex;
    max-width: 1180px;
    margin: 0 auto;
}

.banner-heading {
    font-size: 84px;
    font-weight: 900;
    text-transform: uppercase;
}

.right-arrow {
    
}

.left-arrow {
    
}

.left-side {
    margin-top: 0 !important;
    margin-right: 50px;
    max-width: 40%;
}

.slide {
    border-radius: 3px;
    object-fit: cover;
    margin-top: 20px;
}