.auth-container {
  max-width: 540px;
  margin: 0 auto;
}

.fullname,
.email,
.username,
.password,
.login-submit {
  display: block;
  margin: 10px auto;
  padding: 10px;
  width: 180px;
}

.login-submit {
    cursor: pointer;
}


