$text-color: #101820FF;
$hover-color: #ff0000;

.header {
  display: flex;
  font-family: "Roboto Mono", sans-serif;
  justify-content: space-between;
  max-width: 1180px;
  margin: 0 auto;
}

.icon {
  margin-left: 20px;
  width: 75px;
  transition: all 0.2s ease-in-out;
}

.icon:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.navlink {
  display: flex;
  margin-top: 20px;
}

.navlink li {
  font-size: 18px;
  list-style: none;
  margin-right: 20px;
}

.navlink li:after {
  background: $hover-color;
  content: "";
  display: block;
  height: 2px;
  margin-top: -1px;
  transition: width 0.3s;
  width: 0;
}

.navlink li:hover::after {
  width: 100%;
  //transition: width .3s;
}

.navlink a {
  color: $text-color;
  text-decoration: none;
}

.active {
  border-bottom: 2px solid $hover-color;
}
