$text-color: #000;
$hover-color: #ff0000;

.header {
  display: flex;
  font-family: "Roboto Mono", sans-serif;
  justify-content: space-between;
}

.navlink {
  display: flex;
  margin-top: 20px;
}

.navlink li {
  list-style: none;
  margin-right: 20px;
}

.navlink a {
  color: $text-color;
  padding-bottom: 10px;
  text-decoration: none;
}

.navlink a:hover {
  color: #ff0000;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
}

.active {
  border-bottom: 2px solid #ff0000;
}
