* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto Mono", sans-serif;
}

.overlay {
  background-image: url("./images/Bull.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}
